@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600&family=Wix+Madefor+Display:wght@400;600;800&display=swap');

@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        transition: opacity 100ms linear,transform 100ms linear,visibility 100ms linear,-webkit-transform 100ms linear;
        opacity: 1;
    }
}

@keyframes hideBlock {
    100% {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #edeef0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
}

header {
    height: 50px;
    background-color: #fff;
    border: 1px solid #dddddd;
}

.header-wrapper {
    width: 1000px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 32px;
    margin-right: 5px;
}

.header-logo h1 {
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

.header-wrapper-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 850px;
    position: relative;
}

#search {
    padding: 7px 15px 7px 25px;
    background-color: #ededed;
    border: none;
    border-radius: 6px;
    outline:none
}

.search_icon {
    position: absolute;
    top: 17px;
    padding-left: 6px;
    color: #7b7b7b;
}

.header-profile {
    position: relative;
}

.header-profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 7px;
    margin-left: 15px;
}

.header-profile {
    width: 58px;
    height: 50px;
    display: block;
    padding-left: 6px;
}

.header-profile:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.header-profile-no-avatar {
    background-image: url(../img/no-avatar.jpg);
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: block;
    float: right;
    margin: 5px;
}

.header-profile-popup {
    position: absolute;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    top: 50px;
    right: 0px;
    border: 1px solid #dddddd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 99;
    animation: showBlock 0.2s linear forwards;
}

.header-profile-popup img {
    margin-left: 10px;
}

.header-profile-popup p {
    padding: 3px 10px 0 10px;
    font-size: 14px;
}

.profile-popup-header {
    display: flex;
    margin: 10px;
    width: 100%;
    height: 50px;
    background-color: #ededed;
    border-radius: 5px;
}

.profile-popup-header img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 7px;
}

.profile-popup-footer {
    display: block;
    height: 25px;
    width: 100%;
    padding: 5px 0 0 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.profile-popup-footer:hover {
    background-color: #ededed;
}

#profile-btn-exit {
    background: none;
    border: none;
    cursor: pointer;
}

.exit_icon {
    vertical-align: middle;
    margin-right: 3px;
}

.profile_icon {
    position: absolute;
    top: 17px;
    right: 45px;
}

.profile_header {
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 10px;
    padding: 20px 0;
    border: 1px solid #dddddd;
}

.profile_avatar {
    position: relative;
    margin: 0 20px;
    cursor: pointer;
    width: 250px;
    border-radius: 12px;
    height: 350px;
    background-image: url(../img/no-avatar.jpg);
    background-size: cover;
    background-position: bottom;
}

.profile_avatar img {
    width: 250px;
    height: 350px;
    border-radius: 12px;
    object-fit: cover;
}

.profile_info {
    width: 65%;
    position: relative;
    text-align: left;
}

.profile_info h1 {
    margin: -5px 0 20px 0;
}

.profile_info p {
    margin: 5px 0;
}

#profile_edit_btn {
    position: absolute;
    right: 20px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    color: #6b8bd5;
    font-weight: bold;
    background-color: #ececfb;
}

#profile_edit_btn:hover {
    cursor: pointer;
    background-color: #ddddf5;
}

main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page_layout {
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
}

#sidebar {
    min-width: 150px;
    margin-top: 12px;
}

#sidebar ul {
    list-style: none;
}

#sidebar li {
    padding: 3px 0;
}

#sidebar li:hover {
    background: #e0e0e0;
}

.sidebar_icon {
    color: #5181b8;
    padding: 0 5px;
    font-size: 20px;
    vertical-align: middle;
}

#sidebar a {
    text-decoration: none;
    color: #000;
}

#page_body {
    min-width: 850px;
    text-align: center;
    margin-bottom: 15px;
}

.error {
    font-size: 15px;
    margin: 0px -20px 10px
}

.login-wrapper {
    width: 300px;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    padding: 10px 0;
}

.login-wrapper img {
    width: 53px;
    margin: 15px 15px 10px 15px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

#login-form input {
    margin: 5px;
    padding: 5px 12px;
    line-height: 20px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #c1c1c1;
}

#login-form h2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

#login-btn {
    width: 220px;
    background-color: #5181b8;
    color: #fff;
    font-size: 14px;
}

#login-btn:hover {
    background-color: rgb(78, 157, 248);
}

.registration-wrapper {
    width: 300px;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
    padding: 10px 0px;
}

.registration-wrapper img {
    width: 53px;
    margin: 15px 15px 10px 15px;
}

.registration-btn {
    font-size: 14px;
    width: 220px;
    padding: 7px 25px;
    margin: 5px 0;
    color: #fff;
    background-color: #4bb34b;
    border: none;
    border-radius: 5px;
}

.registration-btn:hover {
    background-color: #79be79;
}

.login-btn {
    font-size: 14px;
    width: 220px;
    padding: 7px 25px;
    margin: 5px 0;
    color: #fff;
    background-color: #5181b8;
    border: none;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: rgb(78, 157, 248);
    animation: showBlock 0.2s linear forwards;
}

#registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

#registration-form input {
    margin: 5px;
    padding: 5px 12px;
    line-height: 20px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #c1c1c1;
}

#registration-form h2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

.profile_records {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 10px;
    padding: 20px 20px;
    border: 1px solid #dddddd;
}

.profile_records_add {
    border-bottom: 1px solid #ededed;
    width: 100%;
    text-align: left;
    position: relative;
}

.profile_records-no-avatar {
    background-image: url(../img/no-avatar.jpg);
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: inline-block;
    margin: 5px;
}

.profile_records_add img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: top;
}

#record-add-input {
    width: 550px;
    padding: 5px 10px 0;
    font-size: 15px;
    border: none;
    outline: none;
    resize:none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-family: 'Nunito Sans', sans-serif;
}

#record-edit-input {
    width: 512px;
    padding: 5px 10px 0;
    font-size: 15px;
    border: none;
    outline: 1px solid #c1c1;
    resize: none;
    appearance: textfield;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 5px;
    overflow: auto;
}

.record-smile {
    font-size: 24px;
    color: #9f9191;
    vertical-align: middle;
    float: right;
    margin: 9px 0;
}

.record-popup-smile {
    position: absolute;
    font-size: 15px;
    right: 0;
    z-index: 99;
}

.record-add-btn {
    cursor: pointer;
    float: right;
    right: 20px;
    padding: 8px 20px;
    margin-top: 5px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    background-color: #5181b8;
}

.record-add-btn:hover {
    background-color: #74a0d1;
}

.profile_records_nav {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ededed;
    text-align: left;
    animation: showBlock 0.2s linear forwards;
}

.profile_records_nav button {
    padding: 5px 10px;
    margin-right: 15px;
    background-color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #919191;
    cursor: pointer;
    border-radius: 5px;
}

.profile_records_nav button:hover {
    background-color: #ededed;
    animation: showBlock 0.2s linear forwards;
}

.profile_records_list {
    width: 100%;
    text-align: left;
}

.redcord-wrapper {
    display: flex;
    align-items: center;
    background-color: #edeef03b;
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.record-head {
    width: 25%;
}

.record-head a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    color: #204a7b;
}

.record-head p {
    font-size: 14px;
}

.record-head img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    float: left;
    margin: 5px 10px 0 0;
}

.record-message {
    width: 75%;
}

.record-edit-btn {
    margin-left: 10px;
}

.record-edit-save-btn {
    cursor: pointer;
    right: 20px;
    padding: 5px 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    background-color: #5181b8;
}

.nav-record-wrapper {
    position: absolute;
    width: 170px;
    top: 40px;
    right: 0;
    padding: 5px 0;
    background: #fff;
    border: 1px solid #edeef0;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #d3d3d3;
    z-index: 99;
    animation: showBlock 0.2s linear forwards;
}

.nav-record-wrapper button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-align: left;
}

.nav-record-wrapper button:hover {
    background-color: #edeef0;
}

.profile_edit_wrapper {
    background-color: #fff;
    border-radius: 12px;
    margin-top: 10px;
    padding: 20px 0;
    border: 1px solid #dddddd;
}

.profile_edit {
    width: 70%;
    text-align: right;
    margin-right: 45%;
}

.profile_edit_row {
    margin: 10px 0;
}

.profile_edit_row input {
    width: 300px;
    padding: 2px 0 1px 6px;
    height: 20px;
    margin-bottom: 6px;
    margin-left: 5px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    outline: none;
}

.profile-edit-footer button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    color: #6b8bd5;
    font-weight: bold;
    background-color: #ececfb;
}

.profile-edit-footer button:hover {
    cursor: pointer;
    background-color: #ddddf5;
}

.profile-edit-footer p {
    margin: 10px;
}

.nav-avatar-wrapper {
    position: absolute;
    width: 248px;
    top: 350px;
    background: #fff;
    border: 1px solid #edeef0;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #d3d3d3;
    z-index: 99;
    animation: showBlock 0.2s linear forwards;
}

.nav-avatar-wrapper button {
    display: block;
    width: 95%;
    margin: 5px auto;
    padding: 3px 18px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.nav-avatar-wrapper button:hover {
    background-color: #edeef0;
}

.avatar-popup-wrapper {
    position: absolute;
    background-color: #000000bd;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;
}

.avatar-popup {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-popup img {
    height: 650px;
}

.avatar-popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.avatar-refresh-popup-wrapper {
    position: absolute;
    background-color: #000000bd;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.avatar-refresh-popup {
    width: 700px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: showBlock 0.2s linear forwards;
}

.refresh-header {
    display: flex;
    justify-content: center;
    background-color: #fafbfc;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom: 1px solid #dce1e6;
}

.refresh-header h3 {
    width: 100%;
    margin: 10px 30px;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
}

.avatar-refresh-popup-close {
    width: 7%;
    float: left;
    margin: 10px 0px 0;
}

.refresh-content {
    margin: 30px;
}

input[type="file"]{
    display: none;
  }

.refresh-content-upload label {
    cursor: pointer;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    background-color: #447bba;
    font-size: 14px;
    margin-right: 15px;
}

.refresh-content-upload label:hover {
    background-color: #598fcc;
}

.refresh-content-upload form {
    margin: 20px;
}

.refresh-content-upload button {
    cursor: pointer;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    color: #6b8bd5;
    font-weight: 600;
    background-color: #ececfb;
}

.refresh-content-upload button:hover {
    background-color: #ddddf5;
}

.preview-avatar {
    width: 240px;
    border-radius: 12px;
    margin: 10px 0;
}

.refresh-footer {
    border-top: 1px solid #dce1e6;
    padding: 20px 10px;
    font-size: 13px;
}

.remove-avatar-btn-cancel {
    cursor: pointer;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    color: #6b8bd5;
    font-weight: 600;
    background-color: #ececfb;
    font-size: 14px;
    margin-right: 15px;
}

.remove-avatar-btn-cancel:hover {
    background-color: #e4e4fc;
}

.remove-avatar-btn-ok {
    cursor: pointer;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    background-color: #447bba;
    font-size: 14px;
    margin-right: 15px;
}

.remove-avatar-btn-ok:hover {
    background-color: #598fcc;
}

.profile_records_add .EmojiPickerReact {
    --epr-emoji-size: 25px;
    --epr-emoji-padding: 2px;
    --epr-category-label-height: 20px;
    --epr-header-padding: 10px var(--epr-horizontal-padding);
    --epr-horizontal-padding: 5px;
}

.record-message .EmojiPickerReact {
    --epr-emoji-size: 25px;
    --epr-emoji-padding: 2px;
    --epr-category-label-height: 20px;
    --epr-header-padding: 10px var(--epr-horizontal-padding);
    --epr-horizontal-padding: 5px;
}